.footer{
background: linear-gradient(180deg , hsla(325, 14%, 31%, 0.522) , #b0b9b980 60%);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 80vh;

}

.footer-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 2rem;
    margin-bottom: 2rem;
    gap: 1rem;
}

.footer-list ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1.5rem;
    padding: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
}


.footer-social-icon{
    display: flex;
    gap: 2rem;
    cursor: pointer;
}

.footer-copyright{
    margin-top: 1rem;
}

.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #131111;
    margin-left: 3rem;
    margin-bottom: .5rem;

}